version: '3.8'

services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3004:80" # Serve the frontend on port 80
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
  restart: always

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3005:3005"
    environment:
      - NODE_ENV=production
    restart: always
