name: Docker Build CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Build the server Docker image
      run: docker build ./server --file server/Dockerfile --tag portfolio-backend:ci
    
    - name: Build the client Docker image
      run: docker build ./client --file client/Dockerfile --tag portfolio-frontend:ci

    - name: Trigger Portainer stack webhook
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      run: |
        curl --fail --show-error --silent \
          -X POST \
          "https://portainer.harrison-martin.com/api/stacks/webhooks/003ab175-65a3-4f09-9fc2-42e2cf8160ce"
