name: Docker Build CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Build the server Docker image
      run: docker build ./server --file server/Dockerfile --tag portfolio-backend:ci
    
    - name: Build the client Docker image
      run: docker build ./client --file client/Dockerfile --tag portfolio-frontend:ci
